.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 248, 248);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #85d1f5; /* Fondo blanco */
  border: 1px solid #000; /* Bordes negros */
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla th,
.tabla td {
  padding: 8px;
  border: 1px solid #ccc;
}

.tabla th {
  background-color: #f2f2f2;
  text-align: left;
}

.error {
  color: red;
  margin-top: 5px;
}
.footer{
  background-color:black;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 18%;
  position: fixed;
}
.break{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: auto;
  text-align: center;
  color: white;
  
}
.fondo{
  width: 100%;
  height: 100%;
  background-image: url('./components/imagenes/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.uni {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Opcional: ajusta la altura del contenedor */
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.uni .image-container {
  text-align: center;
}

.uni img {
  max-width: 100%;
  height: auto;
}
.eloy{
  background-color: #f2f2f2;


}

.footerr{
  background: #414141;
  padding: 30px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #20c7d3fa;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
.parrado{
  background-color: #f2f2f2;
  font-size: 30px;
}

.destacados {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 190px;
  width: 100%;
  height: 100%;
  background-image: url('./components/imagenes/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tabla-destacados {
  width: 110%;
  border-collapse: collapse;
  border: 2px solid black;
}
.tabla-destacados td {
  border: 1px solid black;
  padding: 10px;
  background-color: #f2f2f2;
}

.tabla-destacados img {
  width: 100%;
  max-height: 200px;
}

.tabla-destacados p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.asistencia-table {
  border-collapse: collapse;
}

.asistencia-table th,
.asistencia-table td {
  border: 1px solid black;
  padding: 8px;
}

.fecha-table,
.asistencia-table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto; /* Se agrega esta línea para centrar la tabla horizontalmente */
}

.fecha-table td,
.asistencia-table th,
.asistencia-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
}

button {
  margin-top: 10px;
}

p {
  font-weight: bold;
}
.asis{
  background-color: #f2f2f2;
}